<div class="list-movies" data-search-movies-target="list">
  <% if @movies.length > 0 %>
    <% @movies.each do |movie| %>
      <%= render "movie-info", movie: movie %>
    <% end %>
  <% else %>
    <p>No movies found</p>
  <% end %>
</div>
