.banner {
  background-size: cover;
  padding: 150px 0;
  min-height: 90vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
  background-size: cover;
  padding: 150px 0;
  min-height: 30vh;
}

.banner-show h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner-show p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show-content {
  display: flex;
  position: relative;
}

.banner-show-link {
  position: absolute;
  left: 80px;
  top: 90px;
    i {
      font-size: 28px;
      color: white;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
}
