.review-card {
  display: flex;
  border-bottom: rgb(221, 219, 219) 1px solid;
  margin-top: 8px;
}

.review-card-user-infos {
  flex: 20%;
  margin-right: 18px;
  p {
    font-size: 12px;
    line-height: 0px;
  }
  img {
    margin-bottom: 8px;
  }

}

.review-card-content {
  display: flex;
  justify-content: space-between;
  flex: 80%;
}

.review-card-comment {
  p {
    color: rgb(102, 101, 101);
  }
}

.star-yellow {
  color: goldenrod;
}

.star-blank {
  color: #D2D2D2;
}

.review-card-deletelink {
  margin-right: 18px;
  a {
    color: rgb(102, 101, 101);
    &:hover {
      color: #E54040;
    }
  }
}
